{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<a href="/article">Retour</a>

<table class="table">
    <thead>
        <tr>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Created_at</th>
        <th scope="col">Author</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <th scope="row">{{article.title}}</th>
                <td>{{article.content}}{{article.content}}</td>
                <td>{{article.createdAt | date('d/m/Y')}}</td>
                <td>{{article.author}}</td>
            </tr>
        </tr>
    </tbody>
</table>
{% endblock %}
